.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.about-image {
  flex: 1;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
}

.about-button-container {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.about-text {
  flex: 1;
  color: #fff;
  margin: 0 40px;
}

.about h1 {
  font-size: 4rem;
  margin-bottom: 40px;
  color: #ffffff;
}

.about-text p {
  font-size: 1.2rem;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: justify;
}

.about-text b {
  font-size: 1.49rem;
  color: #ffffff;
}

.blue-text {
  background: linear-gradient(90deg, #00d8ff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.about-button-container button {
  background: linear-gradient(90deg, #00d8ff, #0066ff);
  padding: 15px 50px;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 148, 255, 0.4);
  color: #fff;
  border: none;
  cursor: pointer;
}

.about-button-container button:hover {
  background: linear-gradient(160deg, #13bad8, #0157d7);
}

@media (min-width: 768px) {
  .about-content {
    flex-direction: row;
    align-items: center;
  }

  .about {
    padding: 20px;
    width: 80%;
  }

  .about-text {
    margin: 0 60px;
  }

  .about-image {
    margin-bottom: 0;
  }

  .about-button-container {
    bottom: 60px;
  }
}
