.crypto-container {
  padding: 80px 40px;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.crypto-heading {
  font-size: 4rem;
  color: #fff;
  text-align: left;
}

.crypto-list {
  background-color: #0e2137;
  color: #fff;
  border-radius: 90px;
  padding: 60px 20px;
  box-shadow: 0 8px 15px rgba(0, 148, 255, 0.4);
}

ul {
  list-style: none;
  padding: 0;
}

.crypto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #1b324a;
}

.crypto-item:last-child {
  border-bottom: none;
}

.crypto-name {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.crypto-icon {
  width: 30px;
  height: 30px;
}

.crypto-details {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  flex: 2;
}

.crypto-price {
  font-size: 1.2rem;
  color: #9fb3c8;
}

.crypto-change {
  font-size: 1rem;
}

.crypto-change.positive {
  color: #4caf50;
}

.crypto-change.negative {
  color: #f44336;
}

.crypto-sparkline {
  width: 100px;
  height: 30px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px 20px;
  background: linear-gradient(90deg, #00d8ff, #0066ff);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.pagination-controls button:hover {
  background: linear-gradient(160deg, #13bad8, #0157d7);
}

.pagination-controls button:disabled {
  background: #555;
  cursor: not-allowed;
}

.pagination-controls span {
  color: #fff;
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .crypto-container {
    width: 100%;
    padding: 80px 20px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .crypto-heading {
    padding: 10px 30px;
  }
}

@media (max-width: 440px) {
  .crypto-container {
    padding: 40px 15px;
    max-width: 100%;
    margin: 0 auto;
  }

  .crypto-heading {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 10px;
    padding: 15px !important;
  }

  .crypto-list {
    padding: 30px 15px;
    border-radius: 50px;
    box-shadow: 0 6px 12px rgba(0, 148, 255, 0.4);
  }

  .crypto-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #1b324a;
  }

  .crypto-item:last-child {
    border-bottom: none;
  }

  .crypto-name {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .crypto-icon {
    width: 40px;
    height: auto;
  }

  .crypto-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
  }

  .crypto-price {
    font-size: 1.2rem;
    color: #9fb3c8;
  }

  .crypto-change {
    font-size: 0.9rem;
  }

  .crypto-change.positive {
    color: #4caf50;
  }

  .crypto-change.negative {
    color: #f44336;
  }

  .crypto-sparkline {
    width: 120px;
    height: 25px;
    padding-bottom: 30px;
  }

  .pagination-controls {
    gap: 10px;
    margin-top: 15px;
  }

  .pagination-controls button {
    padding: 8px 15px;
    font-size: 0.9rem;

    .pagination-controls span {
      font-size: 1rem;
    }
  }
}
