* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease;
  height: 15rem;
}

.header.scrolled {
  background: linear-gradient(360deg, rgba(25, 156, 179, 0), #000c12);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00d8ff;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.hamburger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #fff;
  margin: 4px 0;
  transition: transform 0.3s ease;
}

.hamburger-menu .bar.open:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
}

.hamburger-menu .bar.open:nth-child(2) {
  opacity: 0;
}

.hamburger-menu .bar.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-menu ul li a {
  font-weight: bolder;
  color: #fff;
}

.nav-menu.active {
  display: block;
}

.wallet-container {
  display: flex;
  align-items: center;
}

.nav-menu ul li a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
  background: linear-gradient(90deg, #00d8ff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}

.wallet-button {
  width: 180px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(90deg, #00d8ff, #0066ff) !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition:
    background 0.3s ease,
    color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wallet-button.connected {
  background: linear-gradient(90deg, #444, #555) !important;
  color: #00d8ff;
}

.wallet-button:hover {
  background: linear-gradient(140deg, #0066ff, #00d8ff) !important;
}

.wallet-button.connected:hover {
  background: linear-gradient(140deg, #555, #666) !important;
  color: #00d8ff;
}

@media (max-width: 1100px) {
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-image: url("../images/back.jpg");
    display: none;
    font-size: larger;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    gap: 40px;
  }

  .nav-menu:hover {
    color: #00d8ff;
  }

  .nav-menu .wallet-button {
    display: block;
    margin-top: 60px;
  }

  .hamburger-menu {
    display: flex;
  }

  .wallet-container {
    display: none;
  }
}

@media (min-width: 1101px) {
  .nav-menu .wallet-button {
    display: none;
  }
}

@media (max-width: 440px) {
  .header-inner {
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
  }

  .logo img {
    max-width: 150px;
    padding-top: 10px;
  }

  .hamburger-menu {
    display: flex !important;
    position: absolute;
    top: 30x;
    right: 30px;
    z-index: 2000;
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    font-size: 1rem;
    opacity: 0.9;
    font-size: larger;
    font-weight: bolder;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu ul {
    gap: 40px;
    margin-top: 10px;
  }
}
