* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url("../src/images/back.jpg"); /* Path to your background image */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0c1b2e;
  color: #fff;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #fff;
}

button {
  background-color: #0094ff;
  color: #fff;
  border: none;
  /* padding: 12px 24px; */
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #007ace;
}

section {
  padding: 60px 20px;
}

a {
  color: #0094ff;
  text-decoration: none;
}

a:hover {
  color: #007ace;
}
